 <div class="row">
	<div class="col-md-4 col-md-offset-4"> 

	  <h2>Enter your personal code</h2>

	<%= form_tag([resource_name, :two_factor_authentication], :method => :put, class: "form-inline") do %>
	  <div class="form-group">
	  	<%= text_field_tag :code, nil, autofocus: true,  class: "form-control" %>
	  	<%= submit_tag "Submit", class: "btn btn-primary" %>
	  </div>
	<% end %>

	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	</div>
</div>