<h1>Contact</h1>
<p>
   <%= mail_to "janek.kurzydlo@gmail.com", "Jan Kurzydło" %>
   <br>
   <%= mail_to "walerian.sobczak@gmail.com", "Walerian Sobczak" %>
   <br>
   <%= link_to "Instytut Informatyki UJ 2015", "http://ww2.ii.uj.edu.pl" %>
</p>